:root {
    --primary-color:#038655;
    --secondary-color: #FAA916;
    --light-color: #F3F3F3;
    --dark-color: #333;
    --max-width: 1100px;
    
    --category-sports: #F99500;
    --category-tech: #009CFF;
    --category-ent: #A66BBE;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--light-color);
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

p{
    margin-bottom: 0.75rem;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
h1, h2, h3, h4,h5, h6{
    font-family: 'Staatliches', cursive;
    margin-bottom: .65rem;
    line-height: 1.3;
    letter-spacing: .2rem;
    word-spacing: .30rem;
}
/************************************************************************************
                                    SELECTION and SCROLLBAR CLASSES
************************************************************************************/
::selection{
    background: var(--primary-color);
    color: #FFF;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px var(--primary-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background: var(--primary-color);
}

/************************************************************************************
                                    UTILITY CLASSES
************************************************************************************/


.container{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
    
}

.card{
    background: #FFF;
    padding: 2rem;
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,.25);
}
.bg-light{
    background: var(--light-color);
    color: var(--dark-color);
}
.bg-dark{
    background: var(--dark-color);
    color: #FFF;
}
.bg-primary{
    background: var(--primary-color);
    color: #FFF;
}
.bg-secondary{
    background: var(--secondary-color);
    color: #FFF;
}

.bg-dark a,
.bg-primary a,
.bg-secondary  a{
    color: #FFF;
}

.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}

.p-1{
    padding: 1.5rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}

.l-heading{
    font-size: 3rem;
}
.m-heading{
    font-size: 2.2rem;
}
.sm-heading{
    font-size: 1.75rem;
}

ul.list li{
    padding: 0.5rem;
    border-bottom: dotted 1px #444;
}

ul.list li a:hover{
    color: var(--primary-color);
}
/*****************************************************************************
                                CATEGORY CLASSES
*****************************************************************************/
.category{
    display: inline-block;
    color: #FFF;
    font-size: .55rem;
    text-transform: uppercase;
    padding: .4rem .6rem;
    border-radius: 15px;
    margin-bottom: .5rem;
}
.category-sports{
    background: var(--category-sports);
}
.category-tech{
    background: var(--category-tech);
}
.category-ent{
    background: var(--category-ent);
}
/*****************************************************************************
                                BUTTON CLASSES
*****************************************************************************/

.btn{
    display: inline-block;
    border: none;
    background: var(--primary-color);
    padding: .5rem 1.5rem;
    color: #FFF;
}
.btn-secondary{
    background: var(--secondary-color);
}
.btn-light{
    background: var(--light-color);
}
.btn-dark{
    background: var(--dark-color);
}
.btn-block{
    display: block;
    text-align: center;
    width: 100%;
}

.btn:focus{
    outline: none;
}
.btn:hover{
    opacity: 0.9;
    transition: opacity .3s;
    cursor: pointer;
}
/*****************************************************************************
                                    NAVBAR
*****************************************************************************/

.navbar{
    background: #FFF;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 9999;
    box-shadow: 0 10px 20px rgba(0,0,0,.25);
    padding: 1rem 0;
}
.navbar .container{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
}
.navbar .logo{
    width: 180px;
}
.navbar ul{
    display: flex;
    justify-content: flex-end;
}
.navbar ul li a{
    padding: .7rem;
    font-weight: bold;
    margin-right: 10px;
}
.navbar ul li a:last-child{
    margin-right: 0;
}

.navbar ul li a.active{
    background: var(--primary-color);
    color: #FFF;
}
.navbar .social{
    justify-self: center;
}

.navbar .social a{
    padding: .7rem;
}



/*****************************************************************************
                                    SHOWCASE
*****************************************************************************/

#showcase{
    position: relative;
    background: var(--dark-color);
    color: #FFF;
    background-size: cover;
}

#showcase:before{
    content: "";
    background: url('../images/featured.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
}


#showcase .container{
    min-height: 70vh;
    padding: 75px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

#showcase .showcase-content{
    z-index: 1;
}
/*****************************************************************************
                                BUTTON CLASSES
*****************************************************************************/
#home-articles .articles-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
#home-articles .articles-container .card-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
}
#home-articles .articles-container .card-grid:first-child{
    grid-column: 1/span 2;
}
#home-articles .articles-container .card-grid:last-child{
    grid-column: 2/span 2;
}
/*****************************************************************************
                                    FOOTER
*****************************************************************************/


#main-footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.footer-logo{
    max-width: 160px;
}

#main-footer .container input[type="email"]{
    width: 100%;
    padding: .5rem;
    margin-bottom: .5rem;    
}

#main-footer .container > *:last-child{
    background: #444;
    grid-column: 1/span 4;
    text-align: center;
    padding: .5rem;
    font-size: .75rem;
}
#main-footer .container > *:last-child p{
    margin: 0;
}


/*****************************************************************************
                                    About Page
*****************************************************************************/
.page-content{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 2rem;
    margin: 2rem 0;
}
.page-content>*:first-child{
    grid-row: 1/span 3;
}